---
faq:
  - question: Réduction propriétaires contrôles bordures tampon
    answer: art. 76a de l'OcAgr, lien sur cette <a href="https://sca-opdir.github.io/documents-utiles/fichiers/VS_OCAgr_910.100-3-1.fr.pdf" target="blank">page</a>
  - question: Désinscription avant l'annonce du contrôle 
    answer: avant l'annonce du contrôle ou 1 jour avant le contrôle non annoncé ; art. 100 al. 3 de l'OPD, lien sur cette <a href="https://sca-opdir.github.io/documents-utiles/paiements-directs/pdir-opd//">page</a>
  - question: Délai de transmission des manquements 
    answer: 5 jours ouvrables si importants (domaines de la sécurité des aliments, de la santé des animaux et de la protection des animaux), 1 mois sinon ; art. 8 OSIAgr, lien sur cette <a href="https://sca-opdir.github.io/documents-utiles/contr%C3%B4les/controles-OSIAgr/">page</a>
  - question: Intervalle contrôles de base production primaire
    answer: 8 ans pour production végétale (> 5 ha TO ou > 50 ares cult. spéc.), 4 ans pour production animale (> 3 UGB) ; annexe 1 de l'OPCNP, lien sur cette <a href="https://sca-opdir.github.io/documents-utiles/contr%C3%B4les/controles-osav/">page</a>
  - question: %age de contrôles à risque à effectuer
    answer: 5 % des exploitations à l'année, des exploitations d'estivage et des exploitations de pâturages communautaires (par ex. env. 130 en 2025) doivent être contrôlées sur place pour "soupçon" ou "domaines à risques" ; art. 5, al. 3 de l'OCCEA, lien sur cette <a href="https://sca-opdir.github.io/documents-utiles/contr%C3%B4les/controles-OCCEA/">page</a>
  - question: Liste des points et rubriques de contrôle
    answer: sur cette <a href="https://sca-opdir.github.io/documents-utiles/contr%C3%B4les/controles-acontrol/" target="blank">page</a>


---

<h1>FAQ</h1>

<section class="faq">
	<ul>
		{% for item in page.faq %}
			<li><a href="#{{ item.question | slugify }}">{{ item.question }}</a></li>
		{% endfor %}
	</ul>

	{% for item in page.faq %}
		<h2 id="{{ item.question | slugify}}">{{ item.question }}<a class="header-link" href="#{{ item.question | slugify }}">#</a></h2>
		{{ item.answer | markdownify }}
	{% endfor %}
</section>
