---
faq:
  - question: Réduction propriétaires contrôles bordures tampon
    answer: art. 76a de l'OcAgr, lien sur cette <a href="https://sca-opdir.github.io/documents-utiles/fichiers/VS_OCAgr_910.100-3-1.fr.pdf" target="blank">page</a>
  - question: Désinscription avant l'annonce du contrôle 
    answer: avant l'annonce du contrôle ou 1 jour avant le contrôle non annoncé ; art. 100 al. 3 de l'OPD, lien sur cette <a href="https://sca-opdir.github.io/documents-utiles/paiements-directs/pdir-opd//">page</a>
---

<h1>FAQ</h1>

<section class="faq">
	<ul>
		{% for item in page.faq %}
			<li><a href="#{{ item.question | slugify }}">{{ item.question }}</a></li>
		{% endfor %}
	</ul>

	{% for item in page.faq %}
		<h2 id="{{ item.question | slugify}}">{{ item.question }}<a class="header-link" href="#{{ item.question | slugify }}">#</a></h2>
		{{ item.answer | markdownify }}
	{% endfor %}
</section>
