---
faq:
  - question: Les infos sur l'OPD
    answer: sur cette <a href="https://sca-opdir.github.io/documents-utiles/paiements-directs/pdir-opd/">page</a>
  - question: Les points et rubriques de contrôle
    answer: sur cette <a href="https://sca-opdir.github.io/documents-utiles/contr%C3%B4les/controles-acontrol/">page</a>

---

<h1>FAQ</h1>

<section class="faq">
	<ul>
		{% for item in page.faq %}
			<li><a href="#{{ item.question | slugify }}">{{ item.question }}</a></li>
		{% endfor %}
	</ul>

	{% for item in page.faq %}
		<h2 id="{{ item.question | slugify}}">{{ item.question }}<a class="header-link" href="#{{ item.question | slugify }}">#</a></h2>
		{{ item.answer | markdownify }}
	{% endfor %}
</section>
